<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view name="wisata_tobasa-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="text-center expanded dark-bg">
			<img ng-src="{{ appLogo | trustUrl }}" class="avatar motion spin fade" />
			<div class="menu-bottom"><span ng-bind-html="appName | strHTML"></span><br/></div>
		</ion-header-bar>
		<ion-content class="has-expanded-header light-bg positive-900">
			<ion-list class="list" >
				<ion-item class="item item-divider text-left" >
					Dashboard
				</ion-item>
				<ion-item  class="menu-home item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wisata_tobasa.home">
					<i class="icon ion-ios-home"></i> Home
				</ion-item>
				<ion-item  class="menu-wisata item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wisata_tobasa.wisata">
					<i class="icon ion-android-map"></i> Info Wisata
				</ion-item>
				<ion-item  class="menu-fasilitas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wisata_tobasa.fasilitas">
					<i class="icon ion-android-car"></i> Fasilitas
				</ion-item>
				<ion-item  class="menu-potret_tobasa item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="wisata_tobasa.potret_tobasa">
					<i class="icon ion-android-camera"></i> Potret Tobasa
				</ion-item>
				<ion-item class="item item-divider text-left" >
					Help
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
