	<ion-view view-title="{{ fdhotel.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-fdhotel_singles" class="page-fdhotel_singles">
			<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Detail" >
					<ion-content scroll="true" class="slidingTabContent">
						<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
						<div class="list ">
							<div class="item noborder"><img class="full-image" image-lazy-loader="lines" image-lazy-src="{{fdhotel.image}}" /></div>
							<div class="item item-text-wrap noborder to_trusted" ng-bind-html="fdhotel.content | strHTML"></div>
							<!--
							<div class="item">
							<p>share</p>
							<div class="button-bar">
								<button class="button button-small button-assertive icon ion-social-googleplus" ng-click="openURL('https://plus.google.com/share?url=' + fdhotel.share)"></button>
								<button class="button button-small button-positive icon ion-social-facebook" ng-click="openURL('https://facebook.com/sharer/sharer.php?u=' + fdhotel.share)"></button>
								<button class="button button-small button-calm icon ion-social-twitter" ng-click="openURL('https://twitter.com/share?url=' + fdhotel.share)"></button>
								<button class="button button-small button-assertive-900 icon ion-social-pinterest" ng-click="openURL('https://pinterest.com/pin/create/bookmarklet/?&url=' + fdhotel.share)"></button>
								<button class="button button-small button-positive-900 icon ion-social-linkedin" ng-click="openURL('https://www.linkedin.com/shareArticle?url=' + fdhotel.share)"></button>
							</div>
							</div>
							-->
							<div class="item">
								<button run-social-sharing message="{{ fdhotel.share }}" class="button button-small ion-android-share-alt button-outline button-positive icon-left">share</button>
							</div>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="Location" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<div class="list card">
								<div class="item item-text-wrap noborder to_trusted" ng-bind-html="fdhotel.address | strHTML"></div>
								<a class="item item-icon-left" ><i class="icon ion-ios-telephone "></i><span>{{fdhotel.phone}}</span></a>
								<a class="item item-icon-left" ><i class="icon ion-android-mail royal "></i><span>{{fdhotel.email}}</span></a>
							</div>
							<div class="item noborder"><div ng-if="mapEnable" class="embed_container" data-tap-disabled="true"><ng-map zoom="12" width="100%" height="100%" center="{{fdhotel.map}}"></ng-map></div></div>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
